.menu-inicio {
    font-size: 1.5em;
    color: #007bff;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}
.meal-content {
    display: none;
}
